*.iml
.gradle
/local.properties
.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Compiled output
*.apk
*.aab

# Executables and installers
*.exe
*.dmg

# Log files
*.log

# Ignorar projeto Flutter aninhado
/meu_app_flutter/

# Dependências do Node.js
/functions/node_modules/
node_modules/
